@import 'variables';
@import 'mixins';

[class*="page-user"],
[class*="page-tags"],
[class*="page-image"],
.page-contact {
  main {
    margin-top: $logo-height + $controls-width * 3;
    padding-bottom: $logo-height;
  }

  .layout-container {
    margin: 0 auto;

    @each $breakpoint, $value in $grid-breakpoints {
      @if ($value > 0) {
        @include breakpoint($breakpoint) {
          max-width: $value - 50px;
        }
      }
    }
  }
}
