@import 'variables';
@import 'mixins';

[class*="page-image"] {
  .submitted {
    display: none;
  }

  .inline {
    margin: 30px auto 15px;

    div div {
      display: inline;
    }
  }

  .flex-item:first-child > div > div:first-child::after,
  .inline > div > div:first-child::after {
    content: ': ';
  }

  .flex-item:first-child > div > div:first-child + div div {
    //OMG sorry for this brainfuck
    &::before {
      content: ' | ';
    }

    &:first-child::before {
      content: none;
    }
  }

  .flex-wrapper {
    margin: 25px auto;
  }

  .flex-item {
    border-left: 1px solid $white;
    flex-basis: 33%;
    padding: 0 10px;

    &:first-child {
      border-left: 0;
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;

      span + div::after {
        content: ' | ';
      }
    }

    div {
      display: inline;
    }
  }
}
