@import 'variables';

#footer {
  background-color: $white;
  border-top: 2px solid $black;
  bottom: 0;
  height: $footer-height;
  left: 0;
  position: fixed;
  width: 100vw;

  li {
    display: inline-block;
    margin-left: 5px;

    &:first-child {
      margin-left: 0;
    }
  }

  a {
    color: $black;
  }
}
