@import 'variables';

#footer {
  background-color: $white;
  border-top: 2px solid $black;
  bottom: 0;
  color: $black;
  height: $footer-height * 2;
  left: 0;
  position: fixed;
  width: 100vw;

  @include breakpoint(565px) {
    height: $footer-height;
  }

  > * {
    height: $footer-height;
    line-height: $footer-height;
  }

  li {
    display: inline-block;
    margin-left: 5px;
    width: 50px;

    img {
      border: 2px solid transparent;
      transition: border-color $transition-standard;
      vertical-align: middle;
    }

    img:hover,
    &.fssActive img {
      border-color: $black;
    }

    &:first-child {
      margin-left: 0;
    }
  }

  h1 {
    font-size: 100%;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    top: $footer-height * -1;

    @include breakpoint(565px) {
      padding-right: $controls-width * 2;
      position: absolute;
      right: 0;
      text-align: right;
      top: 0;
    }

    @include breakpoint(lg) {
      padding-right: $controls-width;
    }
  }
}

#fssList {
  display: none;
  left: 50%;
  margin-left: (270px / 2) * -1;
  position: absolute;
  top: 0;
  width: 270px;

  @include breakpoint(lg) {
    display: block;
  }
}
