@import 'variables';

.menu {
  display: block;
  line-height: 2rem;
  width: 100%;

  a {
    color: $black;
    font-weight: 700;
    text-decoration: none;
    transition: color $transition-standard;

    &:hover {
      color: lighten($black, 40);
    }

    //shuttered --> »SHUTTERED«
    &[href*="series/"] {
      &::before {
        content: '»';
      }

      &::after {
        content: '«';
      }
    }
  }
}

.menu-toggle.menu-toggle {
  background: $black;
  bottom: 0;
  color: $white;
  cursor: pointer;
  height: $controls-width * 2;
  left: 0;
  line-height: $controls-width * 2;
  position: absolute;
  text-align: center;
  transition: background-color $transition-standard, color $transition-standard;
  width: 100%;

  @include breakpoint(lg) {
    height: $controls-width;
    line-height: $controls-width;
  }

  &:hover {
    background: $white;
    color: $black;
  }
}

//scss-lint:disable IdSelector
#block-eyesbound-main-menu {
  background: $white;
  height: $menu-height;
  left: 0;
  opacity: 0;
  padding: 20px;
  position: fixed;
  text-transform: uppercase;
  top: ($menu-height - $logo-height - ($controls-width * 2)) * -1;
  transition: top $transition-standard, opacity $transition-standard;
  width: $menu-width;
  z-index: $z-index-menu;

  @include breakpoint(lg) {
    top: ($menu-height - $logo-height - $controls-width) * -1;
  }

  &.expanded {
    top: $logo-height;
  }

  &.visible {
    opacity: 1;
  }
}

//scss-lint:enable all
