@import 'variables';

@keyframes pacman-1 {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(-30deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes pacman-2 {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(30deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.pacman {
  background: none;
  display: block;
  height: 200px;
  left: 50%;
  margin: -100px 0 0 -100px;
  position: fixed;
  top: 50%;
  width: 200px;
  z-index: $z-index-pacman;

  > div {
    height: 200px;
    position: absolute;
    width: 200px;

    > div {
      background: $white;
      height: 100px;
      position: absolute;
      width: 200px;
      z-index: 1;
    }

    &:nth-of-type(1) {
      animation: pacman-1 .5s linear infinite;
      top: 0;

      > div {
        border-radius: 100px 100px 0 0;
      }
    }

    &:nth-of-type(2) {
      animation: pacman-2 .5s linear infinite;
      top: 0;

      > div {
        border-radius: 0 0 100px 100px;
        top: 100px;
      }
    }

    &:nth-of-type(3) > div {
      background: $white;
      border-radius: 100px 0 0 100px;
      height: 200px;
      width: 100px;
    }
  }
}
