@import 'variables';
@import 'mixins';

.cycle {
  bottom: 0;
  height: 100vh;
  left: 0;
  //scss-lint:disable ImportantRule
  position: fixed !important;
  //scss-lint:enable all
  right: 0;
  top: 0;
  width: 100vw;
  z-index: $z-index-slideshow;

  img {
    display: none;
  }

  li {
    background: transparent center center no-repeat;
    background-size: cover;
    height: calc(100vh - #{$footer-height * 2});
    width: 100vw;

    @include breakpoint(565px) {
      height: calc(100vh - #{$footer-height});
    }
  }
}

//scss-lint:disable IdSelector SelectorFormat
#fssPrev,
#fssNext {
  background: $white;
  color: $black;
  display: block;
  height: $controls-height;
  line-height: $controls-height;
  margin-top: ($controls-height / 2) * -1;
  position: fixed;
  text-align: center;
  text-decoration: none;
  top: 50%;
  transition: color $transition-standard;
  width: $controls-width * 2;
  z-index: $z-index-controls;

  @include breakpoint(lg) {
    width: $controls-width;
  }

  &:hover {
    color: lighten($black, 40);
  }
}

#fssPrev {
  left: 0;
}

#fssNext {
  right: 0;
}

#toggle-fullscreen {
  background-color: $white;
  color: $black;
  cursor: pointer;
  font-size: 1.6rem;
  height: 40px;
  line-height: 40px;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  width: 40px;

  i {
    vertical-align: middle;
  }
}

.fullscreen {
  .site-name,
  #navigation,
  #fssPrev,
  #fssNext {
    opacity: .5;
  }

  .icon-resize-full::before {
    content: 'q';
  }
}
//scss-lint:enable all
