@import 'variables';

.soc-icons {
  position: relative;
  text-align: center;
  top: $footer-height;

  @include breakpoint(565px) {
    padding-left: $controls-width * 2;
    position: static;
    text-align: left;
  }

  @include breakpoint(lg) {
    padding-left: $controls-width;
  }

  a {
    color: $black;
    display: inline-block;
    font-size: 1.7rem;
    height: 27px;
    margin-right: 5px;
    overflow: hidden;
    text-align: center;
    transition: color $transition-standard;
    vertical-align: middle;
    width: 27px;

    &::before {
      display: inline-block;
      margin-top: 1px;
      vertical-align: top;
    }

    &:hover {
      color: lighten($black, 40);
    }
  }
}