@import 'variables';

.social-icons a {
  color: $black;
  display: inline-block;
  font-size: 1.7rem;
  height: 27px;
  margin-right: 5px;
  overflow: hidden;
  transition: color $transition-standard;
  vertical-align: middle;
  width: 27px;

  &::before {
    display: inline-block;
    margin-top: 1px;
    vertical-align: top;
  }

  &:first-child {
    margin-left: $controls-width * 2;

    @include breakpoint(lg) {
      margin-left: $controls-width;
    }
  }

  &:hover {
    color: lighten($black, 40);
  }
}
