.views-view-grid {
  > div {
    clear: both;

    > div {
      float: left;

      @include breakpoint(sm) {
        padding: 0 5px;
      }

      @include breakpoint(md) {
        padding: 0 10px;
      }
    }
  }
}
