.views-view-grid {
  > div > div {
    float: left;

    @include breakpoint(sm) {
      padding: 0 5px;
    }

    @include breakpoint(md) {
      padding: 0 10px;
    }
  }
}

[class*="page-category"] {
  main {
    margin-top: $logo-height;
  }
}
