//colors
$black: #000;
$white: #fff;

//z indices
$z-index-slideshow: 0;
$z-index-controls: 5;
$z-index-pacman: 6;
$z-index-menu: 8;
$z-index-logo: 10;
$z-index-fullscreen-toggle: 15;

//breakpoints
$grid-breakpoints: (
  // Extra small screen / phone
    xs: 0,
  // Small screen / phone
    sm: 544px,
  // Medium screen / tablet
    md: 768px,
  // Large screen / desktop
    lg: 992px,
  // Extra large screen / wide desktop
    xl: 1200px
) !default;

$screen-xs-max: map-get($grid-breakpoints, sm) - 1;
$screen-sm-min: map-get($grid-breakpoints, sm);
$screen-md-min: map-get($grid-breakpoints, md);
$screen-lg-min: map-get($grid-breakpoints, lg);
$screen-xl-min: map-get($grid-breakpoints, xl);

//transitions
$transition-standard: .33s linear;

//logo
$logo-font-size: 37px;
$logo-width: 400px;
$logo-height: 100px;

//slideshow
$controls-width: 20px;
$controls-height: 180px;

//menu
$menu-width: $controls-height;
$menu-height: 296px;

//footer
$footer-height: 50px;
