@import '../config/config';

// Messages.
.messages {
  background-color: $light-gray;
  border: 1px solid darken($light-gray, 10%);
  color: darken($light-gray, 30%);
  margin: 1em 0;
  padding: 9px;
}

.messages--warning {
  background-color: $warning-color;
  border-color: darken($warning-color, 10%);
  color: darken($error-color, 15%);
}

.messages--error {
  background-color: $error-color;
  border-color: darken($error-color, 10%);
  color: $white;
}

.messages--status {
  background-color: $status-color;
  border-color: darken($status-color, 10%);
  color: darken($status-color, 35%);
}
