@import '../config/config';

// Tabs.
ul.tabs {
  border-bottom: 1px solid $light-gray;
  margin: 0 0 5px;
  width: 100%;

  li {
    display: inline-block;
  }

  a {
    border: 1px solid $light-gray;
    border-bottom: 0;
    border-radius: 3px 3px 0 0;
    display: block;
  }
}
