:root {
	--background: #fff;
	--foreground: #000;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #000;
		--foreground: #fff;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: 'Montserrat', sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

input {
	color: var(--background);
}

p {
	margin-bottom: 1.5rem;
}

p:empty {
	display: none;
}

h1,
h2,
h3 {
	text-transform: uppercase;
}

h1 {
	font-size: 150%;
}

h2 {
	font-size: 130%;
}

h3 {
	font-size: 110%;
}

button {
	border: 0;
}

button, input, textarea {
	font: inherit;
}

/* Google Maps */
/* src/components/map.jsx */
.gm-style-iw-d {
	background: #fff;
	color: #000;
	font-family: 'Montserrat', sans-serif;
}

.gm-style-iw-d > div {
	padding-left: 6px;
}

.gm-style-iw-a {
	transform: translate(-0.5px, -30px)
}

div[style*="rgb(229, 227, 223)"] {
	background: var(--background) !important;
}

.gm-style picture img {
	max-width: 100%;
}
