{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% if breadcrumb %}
  <nav class="breadcrumb" role="navigation" aria-labelledby="system-breadcrumb">
    <h2 id="system-breadcrumb" class="visually-hidden">{{ 'Breadcrumb'|t }}</h2>
    <ol>
    {% for item in breadcrumb %}
      <li>
        {% if item.url %}
          <a href="{{ item.url }}">{{ item.text }}</a>
        {% else %}
          {{ item.text }}
        {% endif %}
      </li>
    {% endfor %}
    </ol>
  </nav>
{% endif %}


<img
        property="schema:image"
        srcset="/eyesbound8/sites/default/files/styles/max_325x325/public/2016-04/_DSC0620_HDR.jpg?itok=nnmtA9r- 325w, /eyesbound8/sites/default/files/styles/max_650x650/public/2016-04/_DSC0620_HDR.jpg?itok=gMLUKuOJ 650w, /eyesbound8/sites/default/files/styles/max_1300x1300/public/2016-04/_DSC0620_HDR.jpg?itok=r5wW6OMJ 1300w, /eyesbound8/sites/default/files/styles/max_2600x2600/public/2016-04/_DSC0620_HDR.jpg?itok=6MSihSZg 2600w"
        sizes="(min-width: 1290px) 1290px, 100vw"
        src="/eyesbound8/sites/default/files/styles/max_325x325/public/2016-04/_DSC0620_HDR.jpg?itok=nnmtA9r-"
        alt="Shuttered"
        typeof="foaf:Image">
<img
        srcset="/eyesbound8/sites/default/files/styles/max_325x325/public/2016-04/_DSC0620_HDR.jpg?itok=nnmtA9r- 325w, /eyesbound8/sites/default/files/styles/max_650x650/public/2016-04/_DSC0620_HDR.jpg?itok=gMLUKuOJ 650w, /eyesbound8/sites/default/files/styles/max_1300x1300/public/2016-04/_DSC0620_HDR.jpg?itok=r5wW6OMJ 1300w"
        sizes="(min-width: 1290px) 325px, (min-width: 851px) 25vw, (min-width: 560px) 50vw, 100vw"
        src="/eyesbound8/sites/default/files/styles/max_325x325/public/2016-04/_DSC0620_HDR.jpg?itok=nnmtA9r-"
        alt="Shuttered"
        typeof="foaf:Image">