name: "Console"

on:
  pull_request:
    types: [ opened, synchronize, reopened ]

permissions:
  pull-requests: write

jobs:
  get-console-logs:
    runs-on: ubuntu-latest
    name: Get console logs
    steps:
      - name: Wait for Pages changed to neutral
        uses: fountainhead/action-wait-for-check@v1.2.0
        id: wait-for-Netlify
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          ref: ${{ github.event.pull_request.head.sha || github.sha }}
          checkName: 'Pages changed - eyesbound'
      - name: Get Preview URL after Netlify check done
        if: steps.wait-for-Netlify.outputs.conclusion == 'neutral'
        uses: jakepartusch/wait-for-netlify-action@v1
        id: waitFor200
        with:
          site_name: 'eyesbound'
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Use WebApp Console Log Action
        uses: Primajin/webapp-console-log-action@v1
        with:
          webapp-url: ${{ steps.waitFor200.outputs.url }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
